$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$font-weight: (
  "bold": 800,
  "medium": 500,
  "light": 100
);
$mobile-width: 700px; //naxatesvac e heraxosov nayelu harmarvelu hamar